{% load static %}
<div class="sidebar text-right">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}"><i class="icon-speedometer"></i> اللوحة الرئيسية</a>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> الطلاب</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_list' %}">
                            <i class="nav-icon icon-list"></i> قائمة الطلاب</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'student_regi' %}">
                            <i class="nav-icon icon-plus"></i> تسجيل طالب</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-dropdown">
                <a class="nav-link nav-dropdown-toggle" href="#">
                    <i class="nav-icon icon-user"></i> معلمين</a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'teacher_list' %}">
                            <i class="nav-icon icon-list"></i> قائمة المعلمين</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_teacher' %}">
                            <i class="nav-icon icon-plus"></i> إضافة معلم جديد</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>

    {% block sidebar %}
    {% endblock sidebar %}
</div>

